.checkbox {
    width: 17px;
    height: 17px;
}
.detailBtn {
    float: right;
    justify-content: none;
    padding: 3px;
}
.header {
    background-image: linear-gradient(to right, #f45d48, #f66151, #f96659, #fa6a61, #fc6f69)
}
.upBtn {
    float: right;
    justify-content: none;
    padding: 3px;
    background-color: #f45d48;
}