.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    font-size: 18px;
    background-color: #fefeff;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 10px;
    box-shadow: 0 1px 1px rgba(233, 7, 7, 0.075) inset,
        0 0 8px rgba(116, 119, 116, 0.6) !important;
    outline: 0 none !important; 
}


.closenav {
    right: -500px;
    margin-left: 0px;
    background-color: #c25494;
}


.title{
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}
.DetailInformation{
    margin-left: 12px;
    align-items: center;
}
.DetailInformation div{
    padding: 7px;
    display: flex;
    cursor: pointer;
}
.DetailInformation div:hover{
   color: rgb(0, 82, 204);
}
.DetailInformation div i{
    margin-right: 12px;
}

.DetailInformation div .iconEdit{
    
    margin-left : auto;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}