.HeaderWrapper {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    min-height: 55px;
    box-shadow: 0 1px 1px rgba(233, 7, 7, 0.075) inset,
        0 0 8px rgba(116, 119, 116, 0.6) !important;
    /* border-bottom: solid 1px rgba($color: $black-color, $alpha: 0.1); */
}
.HeaderNav {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    @media screen and (min-width: 1200px) {
        max-width: 1080px;
        margin: 0 auto;
        padding: 15px 0;
    }
}
.HeaderNavBrand {
    font-size: 24px;
    font-weight: 600;
    padding-left: 45px;
    position: relative;
}
.HeaderNavBurger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25px;
    height: 30px;
    margin-right: 15px;
}
.HeaderNavBurger > span {
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
}
.HeaderNavRight {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    margin-left: auto;
    @media screen and (min-width: 1200px) {
        max-width: 1080px;
        margin: 0 auto;
        padding: 15px 0;
    }
}
.HeaderNavRightJoinButton {
    font-size: 18px;
    font-weight: 700;
    padding: 4px 35px;
    cursor: pointer;
    @media screen and (max-width: 480px) {
        padding: 4px 5px;
    }
}
.HeaderNavRightJoinButton .avatar{
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right:30px;
    top: 45%;
    border-radius: 50%;
    transform: translateY(-50%);
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png");
    background-size: cover;
    background-repeat: no-repeat;
}
