body {
    font-family: "Oswald", sans-serif;
    background-color: #f8f5f2;
    color: #222525;
}
h2 {
    color: #232323;
}
p {
    color: #222525;
}
.btn-one {
    background-color: #2A9D8F;
    color: #232323;
}
.btn-one:hover,
.raise:focus {
    background-color: #31ccba;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translatey(-0.25em);
    transition: all 0.2s;
}

.btn-two {
    background-color: #f45d48;
    color: #232323;
}
.btn-two:hover,
.raise:focus {
    background-color: #ff7967;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.15em);
}
.cardBody{
    /* background-color: rgba(255, 255, 255, 0.733); */
    background-color: #f8f5f2;
    border-radius: 5px;
}
button {
    color: #232323;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #078080;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button:disabled{
    background-color: #6c757d;
}
button:disabled:hover{
    background-color: #6c757d;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translatey(-0.25em);
    transition: all 0.2s;
}
input {
    color: #232323 !important;
    background-color: #fffffe !important;
}
input:focus,
textarea:focus,
select:focus {
    border-color: #fffffe !important;
    box-shadow: 0 1px 1px rgba(233, 7, 7, 0.075) inset,
        0 0 8px rgba(116, 119, 116, 0.6) !important;
    outline: 0 none !important;
}

img {
    max-width: 700px;
    max-height: 700px;
}
