.lineloading {
    width: 100%;
    height: 0.5rem;
    position: relative;
    margin: 0 auto;
}
.lineloading:before {
    content: "";
    position: absolute;
    right: auto;
    left: 0;
    height: 4px;
    background-color:  #08aeea;
    animation: lineLoading 1.5s forwards infinite linear;
}

@keyframes lineLoading {
    0% {
        right: 100%;
    }
    50% {
        right: 0;
        left: 0;
    }
    100% {
        right: 0;
        left: 100%;
    }
}
